.drawer {
    display: flex;
    width: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    right:0;
    min-height: 100%;
}

.drawer__toggle {
    
}
.drawer__panel {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $temp-grey;
    border-left: 1px solid $grey;
    padding: .5rem;
    margin-left: -1px;
    &.closed {
        display: none;
    }
    & hr {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
}