.nav {
	display: flex;
}
.nav__item {}
.nav__item--current {
	@extend .nav__item !optional;
	background-color: $white;
}

.main-nav {
	width: 3vw;
	height: 100%;
	background-color: #333333;

	& .nav {
		width: 100%;
		height: 100%;
		flex-direction: column;
	}
	& .nav__item {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 3vw;
		border-bottom: 1px solid #393939;
		cursor: pointer;
		font-size: .6rem;
		font-weight: bold;
		& .fa {
			font-size: 1.2rem;
		}
		&:last-child {
			margin-top: auto;
			border-top: 1px solid #393939;
		}
	}
}



.fa-stack {
	& .fa-sun-o {
		font-size: .5rem;
		margin-left: -5px;
	}
	& .fa-cloud {
		margin-left: 5px;
	}
}
