.current-view {
	flex-direction: column;
	border-bottom: 1px solid lighten($grey, 30%);
	& .row {
		justify-content: center;
	}
}

.current-view .location {
	justify-content: center;
	align-items: center;
	& h1{
		margin: 0;
	}
	& span {
		font-size: 2em;
		margin-left: 1em;
		margin-right: -2em; // offset the width of the icon
	}
}

.current__item {
	& .icon span {
		font-size: 5em;
		margin-left: .5em;
	}
	& .cTemp span {
		font-size: 5em;
		margin-left: .5em;	
	}
	& .hlTemp span {
		font-style: italic;
	}
	& .summary span {
		font-style: italic;
	}
}

.weekly__item .row{ 
	justify-content: center;
}


.weekly__item {
	& .row {
		padding: .25em;
	}
	& .date {
		font-size: .65em;
	}
	& .icon {
		font-size: 2em;
	}
	& .hlTemp {
		font-size: .65em;
	}
}